/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 1, 2025, 9:51:30 AM
    Author     : Hai Long
*/

.containerBox{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.right-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f9;
    color: black;


}

/*css typeroom*/

.content-info{
    width: 100%;
    margin: 0px auto;
}

.search-add{
    display: flex;
    justify-content: space-between;
}

.search-add a{
    text-decoration: none;
    background-color: #dc3545;
    color: white;
    border: 0.8px solid #dc3545 ;
    border-radius: 5px;
    padding: 6px 12px;
}

.search-add .input-group{
    border: 1px solid #dc3545;
    border-radius: 5px;
    width: 300px;
}

.search-add .input-group .form-control:focus {
  border-color: #dc3545;  /* màu danger của Bootstrap */
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* shadow đỏ nhạt */
  outline: none;
}


.search-add input::placeholder{
    color: black;
}

.typeroom-img{
    width: 130px;
    height: 66px;
    border-radius: 10px;
    margin-right: 10px;
}

.pagination-danger .page-link {
    color: #dc3545;
    border-color: #dc3545;
}

.pagination-danger .page-link:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.pagination-danger .page-item.active .page-link {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.pagination-danger .page-item.disabled .page-link {
    color: #dc3545;
    opacity: 0.5;
}

.pagination-danger .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}