.hotel-img img{
    height: 600px;
}
.error-message {
    color: red;
    font-size: 0.8rem;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 2px;
    transition: all 0.3s ease;
}
.form-outline.show-error .error-message {
    opacity: 1;
    height: auto;
}
.margin-buttom{
    margin-bottom: -7px;
}
.cascading-right {
                    margin-right: -50px;
                }

                @media (max-width: 991.98px) {
                    .cascading-right {
                        margin-right: 0;
                    }
                }